<section class="destinations">
    <h3 class="title">Some of our destinations:</h3>
    <p>Tired of the ocean? Are the plains too plain? Come along with us on one of our mountain adventures. Here are some pictures from people who have had elevated experiences with us.</p>
    <hr>

    <ul class="grid">
      <li class="small" style="background-image: url(assets/img/mountain1.jpg);"></li>
      <li class="large" style="background-image: url(assets/img/mountain2.jpg);"></li>
      <li class="large" style="background-image: url(assets/img/mountain3.jpg);"></li>
      <li class="small" style="background-image: url(assets/img/mountain4.jpg);"></li>
    </ul>
  </section>